<!DOCTYPE html>
<html>
  <head>
    <title>DebateTeamTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <div class="left-navbar">
        <div class="child_logo"> <p> Logo Here </p> </div>
      </div> <!-- left-navbar -->

      <div class="right-navbar">
        <div class="link"> <%= link_to "Home", root_path %> </div>
        <div class="link"> <%= link_to "Leaderboard", pages_leaderboard_path %> </div>
        <div class="link"> <%= link_to "Announcements", announcements_path %> </div>
      </div> <!-- navbar -->
    </div>

    <%= yield %>
  </body>
</html>
